

body{
    font-size: 15px;
    background: #000;
    
}

h4{
    color: gold;
}

.shadow{
    background: rgba(0,0,0,0.5)
}

.firsttab{
    margin-top: 50px
}


.welcome-title{color:#FFF; margin-bottom: 20px;     margin-top: 50px;}

.main-wrap{ position: absolute; z-index: 99; left: 0; bottom: 0; top: 0; right: 0; /*background: #000 url(./images/background_star.jpg) no-repeat; background-size: 100%*/}


.title{ background: url(./images/logo.png) center center no-repeat ; background-size: contain; display:block; width: 200px; height: 34px;  color:#ffbe00; position: absolute; top: 20px; left: 50%; transform:translateX(-50%)}
.title-prize{font-family: 'Kanit', sans-serif; color:#ffb300; width: 80%; font-size:3vw; text-align: center;  position: absolute; top: 80px; left: 50%; transform:translateX(-50%)}

.top-nav{ position: absolute; top: 0; left: 0; right: 0 }
.top-nav>*{display:block; padding: 30px 30px; cursor:pointer; background: #020202c4;  border: 2px solid #ffffff24;}
.top-nav>*:hover{background: rgba(255,255,255,0.2)}
.top-nav .back{ position:absolute;}
.top-nav .next{ position:absolute; right:0}

.wood-tables{ text-align: center; display: inline-table; width: 100%; height: 100px}
.obj-wood-table{ font-size: 28px; display: inline-block; background: url(./images/wood.jpg) center center no-repeat; background-size: 200%; width:60px; height: 60px; line-height: 60px;border-radius: 50%; border:2px solid #c58862;
    margin: 0 10px; margin-bottom: 10px;
    text-align: center; }

.obj-wood-table-luckydraw{ font-size: 24px; display: inline-block; background: url(./images/wood.jpg) center center no-repeat; background-size: 200%; width:500px; height: 180px; line-height: 80px; border:2px solid #c58862;
        margin: 0 20px; margin-bottom: 20px;
        text-align: center; }

.wood-tables-title{font-size:22px; margin-bottom: 20px; margin-top: -30px;}


.content-wrap{ display: block; margin: 0 auto;  margin-top: 140px; width: 100%;  height: calc(100vh - 140px) ; background: rgba(0, 0, 0,0.5); box-sizing: border-box; padding: 2vw }



.slot{

    font-size: 14px;
    height: 140px;

    border: 2px solid #FF9800;
    -webkit-box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.50);
    -moz-box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.50);
    box-shadow: inset 0px 0px 50px 0px rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    
}

.slot-item{ position: relative; background: #0000007d; }
.slot-item-data{position: absolute; top:50%; left: 50%; transform:translate(-50%,-50%); padding: 5px; width: 100% }
.slot-item-name{line-height: 24px; font-size: 18px}
.btn-spin-all{position: fixed; bottom: 0; left: 0;

    background: none;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0;
    border-color: transparent transparent transparent #ED1B2E;



}

.slot-wrap{align-items: center;
    justify-content: center;}

.btn-manual-spin{ background: #FF9800; margin-bottom: 10px; margin-top: -2px; border-radius: 0 0 10px 10px}
.btn-spin-all:after{     content: "Spin All";
    position: fixed;
    font-size: 23px;
    left: 10px;
    bottom: 33px;
    transform: rotate(45deg);
}


#particle-canvas {
    /*background: #000 url(./images/background_star.jpg) no-repeat; background-size:100%;*/
/*    width: 100%;
    height: 100%;*/
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


/*.compass__container{ overflow: hidden}*/

.compass__container .compass__btn{    position: absolute;
    text-align: center;
    margin-top: 20px;
   /* top: 0;
    left: 350px;*/
    z-index: 100;
    display: inline-block;
    width: 100%;
}

.compass__container .compass__btn .bttn-jelly{
    padding: 20px; 
    font-size: 32px;
    position: absolute;
    top: -482px;
    left: 349px;
}



.result, .result h2, .result h4, .result ol ,.result li ,.result ul {
    
  }

  .result ol{font-size: 30px}

.list-name{}
.list-name li{ color:white; font-size: 18px}



@media print {

    body{
        /* background: #FFF !important; */
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    
    #particle-canvas{display: none}

   }


