.compass__container {
  width: 100%;
  height: 100%;
  display: inline-block;
  animation: textColor 10s ease infinite;
  position: relative;
  box-shadow: 0px 10px 50px rgba(0,0,0,0.85);
}
.compass__container:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.85);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 5s ease infinite;
}
.compass__container.rolling:after {
  animation: none;
}
.compass__arrow {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0;
  left:0;
  z-index: 10;
  text-align: center;
}
.compass__arrow:before {
  content: "";
  top: 200%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid #ff2020;
  position: relative;
  z-index: 10;
}
.control__panel {
  position: relative;
  height: calc(100% - 74px);
  width: calc(100% - 24px);
  margin: 0 auto;
  padding-top: 50px;
  overflow: hidden;
  border: 12px solid #ff8c00;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f5f5f5;
  z-index: 2;
  box-shadow: inset 0px 2px 40px rgba(0,0,0,0.45);
}
.compass__spin {
  width: 100%;
  height: 100%;
  z-index: 2;
  transition-property: transform;
  transition-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.compass__btn {
  position: absolute;
  text-align: center;
  margin-top:30px;
  left: 0;
  z-index: 100;
  display: inline-block;
  width: 100%;
}
.option1{
  margin-top:30px;
}
.compass__btn .bttn-jelly.bttn-danger {
  font-size: 16px;
  padding: 10px 20px;
}
@-moz-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
