body
  width 100%
  margin 0
  padding 0
  color #ffffff
  background-color darken(#252B37, 3%);
  font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

.App
  max-width 920px
  margin 0 auto
  min-height 100vh
  display flex
  flex-direction column
  justify-content center
  align-items center

h1
  color #ffffff
  padding 0px 0 30px 0

.luckdraw
  width 550px
  height 350px

.ReactTabs__TabPanel>div
  margin 0 auto
